<details class="npc-data">
<summary>Name: {{ new_npc["name"] }} -
    {% if new_npc["class"]: %}{{ new_npc["class"]["name"] }}{% else: %}Commoner{% endif %}
</summary>
    <br/>
    <p>Race: {{ new_npc["race"] }}</p>
    <br/>
    <p>Genre: {{ new_npc["genre"] }}</p>
    <br/>
    <p>Gender: {{ new_npc["gender"] }}</p>
    <br/>
    <p>Alignment: {{ new_npc["alignment"] }}</p>
    <br/>
    <p>Strength: {{ new_npc["stats"]["strength"]["value"] }} - ({{ new_npc["stats"]["strength"]["modifier"] }})</p>
    <p>Dexterity: {{ new_npc["stats"]["dexterity"]["value"] }} - ({{ new_npc["stats"]["dexterity"]["modifier"] }})</p>
    <p>Constitution: {{ new_npc["stats"]["constitution"]["value"] }} - ({{ new_npc["stats"]["constitution"]["modifier"] }})</p>
    <p>Intelligence: {{ new_npc["stats"]["intelligence"]["value"] }} - ({{ new_npc["stats"]["intelligence"]["modifier"] }})</p>
    <p>Wisdom: {{ new_npc["stats"]["wisdom"]["value"] }} - ({{ new_npc["stats"]["wisdom"]["modifier"] }})</p>
    <p>Charisma: {{ new_npc["stats"]["charisma"]["value"] }} - ({{ new_npc["stats"]["charisma"]["modifier"] }})</p>
</details>